*{
    margin: 0 auto;
    padding: 0px;
}

.span_username{
    width: 1200px;
    height: 242px;
   /* background-color: #00a1d6;*/
}

.index{
    width: 1200px;
    /* height: 500px;*/
    /*float: left;*/
    /*display: flex;*/
    margin-top: 20px;
    /*margin-left: 170px;*/
    /* background-color: #1b6d85;*/

}
.index-top{
    width: 100%;
    height: 242px;
    /*background-color: yellow;*/
    display: flex;
}
.index-zhong{
    width: 100%;
    height: 242px;
    /* background-color: yellow;*/
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.lunbo{
    width: 550px;
    height: 242px;
    /*float: left;*/
    display: flex;
}
.tupian{
    width: 638px;
    height: 242px;
    /*float: left;*/
    display: flex;
    margin-left: 10px;
    flex-wrap: wrap;

}

.minTuPian{
    width: 206px;
    height: 116px;
    position: relative;
    margin-right: 1px;
    overflow: hidden;
}

.minTuPian img{
    width: 100%;
    height: 100%;


}
.info{
    width: 206px;
    height: 116px;
    /*float: left;*/
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    top: 64px;
    /*padding-top: 64px;*/
    transition: top 0.5s;
}

.title{
    /*float: left;*/
    /* position: absolute;*/
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;


}

.adv{
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-color: pink;
    /*display: flex;*/
}
.adv img{
    width: 100%;
    height: 100%;
}